<h1> All Teachers </h1>

<h3><%= link_to "<< To Your Classes", teacher_path(current_user) %></h3>
<br>
<h3><%= link_to "Add New Teacher", new_admin_teacher_path %></h3>


<section class="borders">
  <h2>Teachers</h2>
  <% @teachers.each do |teacher| %>
    <p><%= link_to "#{teacher.first_name} #{teacher.last_name}", admin_teacher_path(teacher) %></p>
  <% end %>
</section>
