#main_header {

  padding-top: 20px;
  font-size: 60px;
  margin-left: 450px;
  margin-right: 30px;
  display: inline-block;
}

.header {
  font-family:fantasy;
  height: 100px;
}

.message {
  background-color: #8f4401;
  border-radius: 5px;
  width: 250px;
  opacity: .7;
  box-shadow: 10px 10px 5px #888888;

}

body {

  background-image: url("https://i.imgur.com/Dx5s83H.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.borders{
  text-align: center;
  border: 3px solid black;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 5px;
}

a:link{
  color:blue;
}
a:visited{
  color:blue;
}
a:hover{
  color:red;
}
a:focus{
  color:blue;
}
a:active{
  color:blue;
}

#header_button{
  display: inline-block;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 20px;
}
