<h1><%= link_to "Register New Teacher", new_teacher_path %></h1>
<h1><%= link_to "Login", login_path %></h1>
<h1><% if current_user %>
  <%= link_to "Already logged in? View Your classes!", teacher_path(current_user) %>
  <% end %>
</h1>
