#main_header {

  padding-top: 20px;
  font-size: 60px;
  margin-left: 450px;
  margin-right: 30px;
  display: inline-block;
}

.header {
  font-family:fantasy;
  height: 100px;
}

body {

  background-image: url("https://pixabay.com/get/eb33b2082ff7023ecd1f4306ee4a409ee36ae3d019b5194594f0c579/notebook-2637733.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.borders{
  text-align: center;
  border: 3px solid black;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

a:link{
  color:blue;
}
a:visited{
  color:blue;
}
a:hover{
  color:red;
}
a:focus{
  color:blue;
}
a:active{
  color:blue;
}

#header_button{
  display: inline-block;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 20px;
}
